@import './type-colors.scss';

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.custom-card-layout {
    padding: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;

    .custom-card-container {
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: $white;
    }
}
