@import './colors.scss';

.type-color-normal {
    background-color: $normal;
}

.type-color-fighting {
    background-color: $fighting;
}

.type-color-flying {
    background-color: $flying;
}

.type-color-poison {
    background-color: $poison;
}

.type-color-ground {
    background-color: $ground;
}

.type-color-rock {
    background-color: $rock;
}

.type-color-bug {
    background-color: $bug;
}

.type-color-ghost {
    background-color: $ghost;
}

.type-color-steel {
    background-color: $steel;
}

.type-color-fire {
    background-color: $fire;
}

.type-color-water {
    background-color: $water;
}

.type-color-grass {
    background-color: $grass;
}

.type-color-electric {
    background-color: $electric;
}

.type-color-psychic {
    background-color: $psychic;
}

.type-color-ice {
    background-color: $ice;
}

.type-color-dragon {
    background-color: $dragon;
}

.type-color-dark {
    background-color: $dark;
}

.type-color-fairy {
    background-color: $fairy;
}

.type-color-shadow {
    background-color: $shadow;
}

.type-color-unknown {
    background-color: $unknown;
}
