<ion-content class="custom-background" [style.background]="pokemonInfo?.color">

  <ion-spinner name="crescent" color="danger" *ngIf="isSpinnerEnabled"></ion-spinner>

  <app-pokemon-card [pokemon]="pokemonInfo"></app-pokemon-card>

  <app-pokemon-description [pokemonInfo]="pokemonInfo"></app-pokemon-description>
  <app-pokemon-stats [pokemonInfo]="pokemonInfo"></app-pokemon-stats>
  <app-pokemon-evolution-chain [pokemonInfo]="pokemonInfo" [allAvailablePokemon]="allAvailablePokemon"></app-pokemon-evolution-chain>
  <app-pokemon-abilities [pokemonInfo]="pokemonInfo"></app-pokemon-abilities>

</ion-content>
