@import '../../../assets/scss/colors.scss';

.pokemon-stats-layout {
    align-items: center;

    .title-container {
        margin-top: 0.5rem;
        width: 100%;
        justify-content: center;

        ion-label.title {
            color: $text-black;
            opacity: 0.5;
            font-weight: bold;
        }
    }

    .card-container {
        width: 100%;
        justify-content: center;

        ion-card {
            border-radius: 0.5rem;
            width: 100%;
            box-shadow: none;
            color: $black-master;
            background: $white;
            text-align: center;

            .status-bar-container {
                align-items: center;

                ion-label.title {
                    margin-right: 1rem;
                    width: 8rem;
                }
                
                app-pokemon-progress-bar {
                    width: 100%;
                }
            }
        }
    }
}
