img.pokemon-image {
    position: absolute;
    right: 1rem;
    width: 5rem;
}

ion-card {
    height: 120px;
    border-radius: 1rem;

    ion-card-header {
        height: 100%;

        ion-card-title {
            margin: 1rem 0rem;
        }
    }
}
