<div class="pokemon-habilities-layout flex-column">

    <div class="title-container flex-row">
        <ion-label class="title"> Habilidades </ion-label>
    </div>

    <div class="card-container flex-column">

        <div class="custom-card-layout flex-row">
    
            <div class="custom-card-container pokemon-habilities-card-container flex-column" [style.background]="pokemonInfo?.color">
    
                <div class="pokemon-hability flex-row">

                </div>
                    
            </div>
    
        </div>

    </div>

</div>
