ion-spinner {
    display: block;
    margin: auto;
    height: 100%;
}

ion-title {
    width: 100%;
    position: absolute;
    left: 0;
    height: 0;
    text-align: center;
}

:host ::ng-deep ion-searchbar input {
    box-shadow: none !important;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
}
